<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ejs, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
    <%- include('../Partials/search.ejs') %>
    <div class="container">
        <%- include('../Partials/header.ejs') %>
        <main class="main"><%- body %></main>
        <%- include('../Partials/footer.ejs') %>
    </div>

</body>
</html>